<div class="admin-view">
  <div class="sidebar__trigger" href="#0">
    <i class="fa fa-bars" (click)="toggleSidebar()"></i>
  </div>

  <gal-sidebar
    [ngClass]="{ active: isSidebarOpen$ | async }"
    [user]="user$ | async"
    [isAdmin]="true"
    [missions]="missions"
    [currentProgress]="currentProgress"
    [selectedMission]="selectedMission"
    (logout)="usersService.logout()"
    (onMissionSelected)="missionSelected($event)"
  ></gal-sidebar>

  <div class="no-selected-mission" *ngIf="!selectedMission">
    בחר משימה &nbsp; (:
  </div>

  <gal-admin-mission-view
    *ngIf="selectedMission"
    [selectedMission]="selectedMission"
    [missionsCount]="missions.length"
    (onSelectedMissionChanged)="missionsService.selectMission(missions[$event])"
  ></gal-admin-mission-view>
</div>
